body {
    font: 20px Arial, sans-serif;
}
.navbar {
    background-color: navajowhite ;
}



.quem-somos {
    background-color: lightcoral;
}

.margin {
    padding-top: 20px;
    padding-bottom: 30px;
}

.parceiros {
    background-color: rgb(224, 187, 85);
}

.bg-footer {
    background-color: black;
    color: cornsilk;
}